body { background-color: #E5E6E9}


#formulaire {
    display: flex;
    flex-wrap: wrap;

    padding:10px;
    justify-content: space-around;
 ;
}
input { margin-bottom:10px;}


#connexion{ font-size: 12px;
     display:inline-block;
            top:5px;
            right:100px;
            margin-top:10px;}
                

#inscription{  
                padding:20px;
                
}
#p1 {color: red ;}

#p2 {color: red ;}
#p3 {color: red ;}
#p4 {color: red ;}
#p5 {color: red ;}
#p6 {color: red ;}

#barre {display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    background-color: #3b5998;
    width:100%;
    }

#barre label, h1 { color:white}

#formulaire input { border-radius: 5px;}

 h2  {font-size:30px;}
 
#inscription label {font-size:20px;}

 #inscription input { padding:5px; width:200px;}