
body { background-color: #E5E6E9}


#secmenu { width:200px;
            position: fixed;
            border-right:1px solid black;
            }

h1 { text-align: center; 
        padding-top:70px;
}

p{ text-align:center;}
li { text-decoration: none;
        list-style:none;
       font-size: 20px;
       margin-bottom:20px;
       left:0px;
        }


#ulonglet{ display:flex;
            flex-direction:row;
            justify-content: center;
            }

#ulonglet li { margin-right:30px;
}

a{ text-decoration: none;
    color:white;
    text-decoration-line: none;
    }

#bouton{display:flex;
    justify-content:center;
   font-size:25px;
   color :black
  }
.barre{ width: 100%;
        height:40px;
     background-color: #3b5998;
     position:fixed;
     top:0px;
     margin:0px;
     display:flex;
    z-index: 99;
        }

.barre a{
    line-height :28px;
    font-weight:bold;
     padding-right:20px;
    vertical-align: top;
    justify-content: center;
    margin:auto;
} 

#formu{
    display:flex;
    justify-content: center;
   width:200px;
    flex-direction: column;
 
 
}
#des {
    height:100px;
}

#discut textarea {width:150px;}
#discut input {width:150px;}

#formuforum{
    display:flex;
    justify-content: center;
    
}

#formuforum input {
    width:500px;
}

#formuforum textarea {
    width:500px;
    height:100px;
}

#sms{
    background-color:white;
}

#forumstyle{
display:flex;
justify-content: center;
flex-direction: column;

}

#styledes{ width:500px;
            height:auto;
            margin:auto;
            margin-bottom: 10px;
            padding:5px;
          background-color: white;
          
            border-bottom: 1px solid black;}

            #username{ background-color: orangered;
            }

#styletitre{
    margin:auto;
    border:1px solid black;
    background-color: white;
    padding:5px;
}

#bulle{
    background-color: mediumturquoise;
    border-radius:5px;
    margin-bottom: 5px;
    width:150px;
    color:blue;
}

#descri{
    font-size:20px;
    color:black;
}

#usr { background-color: orangered;
        color:white;
}

#profiluser{
    font-size:20px;
}

#infoprofil{
    margin: auto;
    justify-content: center;
    display:flex;
}

#messagess{
    display:flex; 
    justify-content: center;
    position:relative;
    align-items:center;
    align-content: center;
    flex-direction:column;
    top:696px;}
   

#com{ border-bottom:1px solid black}